[Unit]
Description=gunicorn daemon for my SCROPY project
After=network.target

[Service]
User=tada
Group=www-data
WorkingDirectory=/home/tada/projects/Scropy
ExecStart=/home/tada/projects/Scropy/vir/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/tada/projects/Scropy/scropy.sock scropy.wsgi:application

[Install]
WantedBy=multi-user.target