{% extends 'index.html' %}
{% load static %}
<html lang="en">
<head>
</head>
<body>

    {% block container %}
    <div class="container">
    <h1 class="site-header"><a href="{% url 'home' %}">S C R O P Y</a></h1>
    <h2 class="subtitle-header">C R O P S</h2>
    <div class="row h-25 d-flex align-items-center justify-content-center  w-100" style="padding-left: 20%; padding-top: 0%;">
        {%if search != None%}
        <h3>You searched for '{{ search }}'</h3>
        {%for item in crops%}
        <div class="card-body">
            <li class="list-group">
                    <a href="{% url 'single' item.id%}">{{ item.name }}   -   <em>{{ item.genus }}</em></a>
                </li>
        </div>
                
        {%empty%}
            <h5 class="card-body">NO crops with the keyword {{ search }} found. Please try 'All'</h5>
        {%endfor%}

        {%else%}
        <h5 class="card-body"> Not a valid search keyword. Use 'All'</h5>
        {%endif%}
    </div>
    
    </div>
    
    {% endblock %}
</body>
</html>